.tag {
	display: inline-block;
	box-sizing: border-box;
	margin-right: .5rem;
	border-radius: 2rem;
}

.small {
	padding: .5rem 1rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
}

.medium {
	padding: .5rem 1rem;
	font-size: 1.4rem;
	line-height: 1.4rem;
}

.ghost {
	border: 1px solid var(--gray-light);
}

.red {
	font-weight: 600;
	color: var(--white);
	background: #DE0000;
}

.red a:link,
.red a:visited {
	color: var(--white);
}

.grey {
	color: var(--white);
	background: #B3C0D9;
	font-weight: 600;
}

.grey a:link,
.grey a:visited {
	color: var(--white);
}

.green {
	color: var(--green);
	background: var(--green-light);
	font-weight: 600;
}

.green a:link,
.green a:visited {
	color: var(--green);
}

.primary {
	color: var(--primary);
	background: none;
	border: 1px solid var(--primary);
	font-weight: 600;
}

.primary a:link,
.primary a:visited {
	color: var(--primary);
}